API_URL=https://portox-example-api.oxiteno.com
API_USER_KEY=e0ee00bf0a000000cbca0000ea0000a
API_APP_ID=101
FIREBASE_WEB_API_KEY=AIzaSyBJ00rZvS00FetYBHkvC0f0df0K0RCEbmI
FIREBASE_WEB_APP_ID=0:00000000000:web:0f000e00d0d0bc0fb0b00
FIREBASE_WEB_AUTH_DOMAIN=portox-example.firebaseapp.com
FIREBASE_ANDROID_API_KEY=AIzaSyBJ00rZvS00FetYBHkvC0f0df0K0RCEbmI
FIREBASE_ANDROID_APP_ID=0:00000000000:android:d00000000dade00fb0b00
FIREBASE_STORAGE_BUCKET=portox-example.appspot.com
FIREBASE_PROJECT_ID=portox-example
FIREBASE_MESSAGING_SENDER_ID=00000000000z`
